pycryptodome
protobuf
mitmproxy~=10.4.2
peewee~=3.17.6
jsonschema
git+https://github.com/TheTechZone/xepor@feat-websocket
black
astor
setuptools
setuptools-rust
wheel
pytest
git+https://github.com/TheTechZone/signal-protocol.py.git@feat-kyber
cryptography~=43.0.0
parse~=1.20.2