pycryptodome
protobuf
mitmproxy
peewee
git+https://github.com/TheTechZone/xepor
black
astor
setuptools
setuptools-rust
wheel
pytest
git+https://github.com/TheTechZone/signal-protocol.py.git@feat-kyber